<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>A AWESOME WEB !</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
  </head>
  <body>
    <!--侧边栏-->
    <div class="ui thin visible left sidebar inverted vertical menu" id="sidebar">
      <div class="header item">
        <img src="{% static 'images/logo2.png' %}">
      </div>
      <div class="item">
        Document
        <!--图标-->
        <i class="browser icon"></i>
      </div>
      <div class="item">
        Charts
        <i class="bar chart icon"></i>
      </div>
      <div class="item">
        Others
        <i class="idea icon"></i>
      </div>
    </div>

    <div class="pusher">

      <!--菜单-->
      <div class="ui top attached menu">
        <div class="header item" id="menu">

          Menu
          <i class="content icon"></i>
        </div>
        <div class="item">
          data analysis
        </div>
        <div class="item">
          The lab
        </div>
        <div class="item">
          data
        </div>
      </div>


      <!--容器-->
      <div class="ui container" style="margin:70px 0 0 0">

        <!--项目-->
        <div class="ui divided items">
        {% for info in ArtiInfo %}
          <div class="item">
            <div class="content">
              <a class="header">
                {{ info.title }}
              </a>
              <div class="meta">
                <span class="ui label">
                  {{ info.tags }}
                </span>
              </div>
              <div class="description">
                {{ info.des }}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>

          <!--分页-->
          <div class="ui small pagination menu">
          {% if ArtiInfo.has_previous %}
            <a class="icon item" href="?page={{ ArtiInfo.previous_page_number }}">
                <i class="left arrow icon"></i>
            </a>
          {% endif %}
          <div class="disable item">
              {{ ArtiInfo.number }} of {{ ArtiInfo.paginator.num_pages }}
          </div>
          {% if ArtiInfo.has_next %}
            <a class="icon item" href="?page={{ ArtiInfo.next_page_number }}">
                <i class="right arrow icon"></i>
            </a>
          {% endif %}
          </div>

      </div>

    </div>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <script>
      $('#menu').click(function () {
        $('#sidebar').sidebar('toggle');
      });
    </script>
  </body>
</html>
